<div id="<%= dom_id rating %>">
  <p>
    <strong>Toy:</strong>
    <%= rating.toy_id %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= rating.score %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= rating.review %>
  </p>

</div>
