<div id="<%= dom_id sale %>">
  <p>
    <strong>Toy:</strong>
    <%= sale.toy_id %>
  </p>

  <p>
    <strong>Quantity sold:</strong>
    <%= sale.quantity_sold %>
  </p>

  <p>
    <strong>Sale date:</strong>
    <%= sale.sale_date %>
  </p>

</div>
