<p style="color: green"><%= notice %></p>

<h1>Sales</h1>

<div id="sales">
  <% @sales.each do |sale| %>
    <%= render sale %>
    <p>
      <%= link_to "Show this sale", sale %>
    </p>
  <% end %>
</div>

<%= link_to "New sale", new_sale_path %>
